
     body { 
      padding-top: 30px;
      padding-bottom: 15px; 
    }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {min-height:600px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer.normalize {
      /*background-color: #555;*/
      /*color: white;*/
      padding: 16px;
    }*/
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
.table > tbody > tr > td{
    padding: 5px;
    vertical-align: middle;
  
}

.button {
  
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
.button:hover {
    text-decoration: none;
    color: white;
    opacity: 0.8;
  
}

.button-blue {background-color: #0000FF;} /* Blue */
.button-red {background-color: #FF0000;} /* Red */ 
.button-green {background-color: #008000;} /*Green */
.button-purple  {background-color: purple;} /*purple  */
.custom-alert {
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 6px;
    margin: 2px;
    background: green;
    border: 1px solid transparent;
    border-radius: unset;
}


.mt-12{
    margin-top: 12px;
}
 .tlogo{
        height:34px;
        width:120px;
        margin-top: 8px;
    }

select.width-sz{
  width: 160px;
  height: 25px;
}
input{
  width: 160px;
  height: 25px;
}
textarea{
  width: 160px;
  height: 150px;
}
table, th, td{
  padding: 3px 0px 3px 0px;
}
a.btnlink:link, a.btnlink:visited {
  background-color: #8B008B;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
}

a.btnlink:hover, a.btnlink:active {
  background-color: #800080;
}

a.btnpage:link, a.btnpage:visited {
  background-color: #8B008B;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
}

a.btnpage:hover, a.btnpage:active {
  background-color: #800080;
}

a.btnlist:link, a.btnlist:visited {
  background-color: #9999ff;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
}

a.btnlist:hover, a.btnlist:active {
  background-color: #7f7fff;
}